.contenedorCarruselProductosDestacados{
    width: 1200px;
    margin: auto;
    padding: 3rem 0rem;
}

.contenedorCarruselProductosDestacados h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    padding-bottom: 0.5rem;
}

.carruselProductosDestacados{
    width: 100%;
    margin-top: 2rem;
}

.cardProducto{
    width: calc(100% - 2rem);
    border-radius: 0.5rem;
    background-color: var(--blanco);
}

.cardProducto > div:first-child{
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.cardProducto > div:first-child img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.cardProducto > div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.cardProducto h2{
    width: 100%;
    font-size: 1.2rem;
    color: var(--negro);
}

.cardProducto h3{
    color: var(--negro);
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}

.cardProducto > div:last-child div{
    width: 100%;
    text-align: end;
    margin-top: 1rem;
}

.cardProducto > div:last-child div a{
    text-decoration: none;
}

.cardProducto > div:last-child div a button{
    background-color: var(--menta);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.cardProducto > div:last-child div a button svg{
    position: relative;
    top: -2px;
    margin-right: 0.5rem;
}