.navbar{
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--menta);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorNavbar{
    width: 1200px;
}

.navbar-brand img{
    width: 100%;
    transition: all 0.3s ease;
}

.navbar-brand:hover img{
    transform: scale(1.05);
}

.nav-link{
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    filter: drop-shadow(2px 2px 2px rgba(80,80,80, 0.08));
}

.nav-item:not(:last-child){
    margin-right: 2rem;
}

.nav-link:hover ~ .subrayadoNavLink{
    width: 100%;
}

.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar .nav-link.show,
.navbar .nav-link.show:focus,
.navbar .nav-link.show:hover {
    color: var(--blanco);
    font-weight: 800;
    letter-spacing: 2px;
    filter: drop-shadow(2px 2px 2px rgba(80,80,80, 0.08));
}

.subrayadoNavLink{
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255, 0.9);
    filter: drop-shadow(2px 2px 2px rgba(30,30,30, 0.1));
    transition: all .2s ease;
}

.navbar-toggler{
    margin-left: 2rem;
    background-color: transparent;
    border: none;
    color: transparent;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}
  
.burger input {
    display: none;
}
  
.burger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: var(--blanco);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
  
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}
  
.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
  
.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}
  
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}
  
.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}
  
.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.headerRedesSociales{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--celeste);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    overflow-x: auto;
}

.headerLink{
    display: inline-block;
    white-space: nowrap;
    color: var(--blanco);
    text-decoration: none;
    font-size: 0.8rem;
}

.headerLink span{
    color: var(--blanco);
}

.headerLink img{
    width: 15px;
    margin-right: 0.4rem;
    position: relative;
    top: -1px;
}

@media (max-width: 576px){

    .contenedorNavbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-inline: 1rem;
    }

    .nav-item{
        margin-top: 0.5rem;
        width: 100%;
        border-bottom: 1px solid rgb(30, 30, 30, 0.05);
    }
    
    .navbar-brand img{
        width: 40px;
    }

    .navbarSection2{
        display: none;
    }

    .headerLink span{
        display: none;
    }

    .headerRedesSociales{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .headerLink img{
        width: 25px;
        margin-right: 0rem;
        position: static;
    }
}

@media (min-width: 576px) and (max-width: 992px){

    .contenedorNavbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-inline: 1rem;
    }

    .nav-item{
        margin-top: 0.5rem;
        width: 100%;
        border-bottom: 1px solid rgb(30, 30, 30, 0.05);
    }
    
    .navbar-brand img{
        width: 40px;
    }

    .navbarSection2{
        display: none;
    }

    .headerLink span{
        display: none;
    }

    .headerRedesSociales{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .headerLink img{
        width: 25px;
        margin-right: 0rem;
        position: static;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .navbar{
        padding-inline: 5rem;
    }

    .nav-link{
        padding-bottom: 0.15rem;
    }

    .navbarBrandResponsive{
        display: none;
    }
    
    .navbarSection1{
        display: flex;
        justify-content: start;
        align-items: center;
        width: calc(50% - 25px);
    }

    .navbarSection2{
        width: 50px;
        filter: drop-shadow(4px 4px 3px rgb(58,58,58, 0.3));
    }
    
    .navbarSection3{
        display: flex;
        justify-content: end;
        align-items: center;
        width: calc(50% - 25px);
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-inline: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1920px){

    .navbar{
        padding-inline: 5rem;
    }

    .nav-link{
        padding-bottom: 0.15rem;
    }

    .navbarBrandResponsive{
        display: none;
    }
    
    .navbarSection1{
        display: flex;
        justify-content: start;
        align-items: center;
        width: calc(50% - 25px);
    }

    .navbarSection2{
        width: 50px;
        filter: drop-shadow(4px 4px 3px rgb(58,58,58, 0.3));
    }
    
    .navbarSection3{
        display: flex;
        justify-content: end;
        align-items: center;
        width: calc(50% - 25px);
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-inline: 0;
    }
}

@media (min-width: 1920px) {

    .navbar{
        padding-inline: 5rem;
    }

    .nav-link{
        padding-bottom: 0.15rem;
    }

    .navbarBrandResponsive{
        display: none;
    }
    
    .navbarSection1{
        display: flex;
        justify-content: start;
        align-items: center;
        width: calc(50% - 25px);
    }

    .navbarSection2{
        width: 50px;
        filter: drop-shadow(4px 4px 3px rgb(58,58,58, 0.3));
    }
    
    .navbarSection3{
        display: flex;
        justify-content: end;
        align-items: center;
        width: calc(50% - 25px);
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-inline: 0;
    }
}