.portadaHome{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/portadaHome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(30, 30, 30, 0.8);
    background-position: center center, center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenidoPortadaHome{
    width: 1200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
}

.contenidoPortadaHome h1{
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: #FFFFFF;
}

.contenidoPortadaHome h1 b{
    color: #FFFFFF;
    font-weight: 700;
    display: block;
}

.contenidoPortadaHome p{
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFFFFF;
    font-weight: 400;
}

.contenidoPortadaHome a{
    text-decoration: none;
    margin-top: 0.5rem;
}

.contenidoPortadaHome button{
    background-color: var(--menta);
    color: var(--blanco);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
    transition: all .3s ease;
}

.contenidoPortadaHome button:hover{
    background-color: var(--menta-hover);
    transform: scale(0.97);
}