.contenedorPaquetes{
    width: 1200px;
    padding: 3rem 0rem;
    margin: auto;
    margin-top: 7rem;
}

.contenedorPaquetes h1{
    width: 100%;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 3rem;
}

.contenedorPaquetes p{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.contenedorPaquetes h2{
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.contenedorPaquetes form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

.inputPaquetes{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.inputPaquetes h3{
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

.inputPaquetes div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.opcionInputPaquete {
    position: relative;
}

.opcionInputPaquete input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

.opcionInputPaquete input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

.botonOpcionInputPaquete {
    width: 90px;
    height: 40px;
    border-radius: 0.5rem;
    background-color: var(--negro-hover);
    color: var(--blanco);
    transition: transform .3s ease;
}

.botonOpcionInputPaquete {
    width: 90px;
    height: 40px;
    border-radius: 0.5rem;
    background-color: var(--negro-hover);
    color: var(--blanco);
    transition: transform .3s ease;
}

.opcionInputPaquete input:checked ~ .botonOpcionInputPaquete, .opcionInputPaquete input:checked ~ .botonMultipleTestTMD{
    background-color: var(--menta);
    transform: scale(1.05);
}

.inputPaquetes input[type="number"]{
    width: 300px;
    height: 40px;
    background-color: var(--negro-hover);
    border: none;
    outline: none;
    padding-inline: 1rem 5rem;
    border-radius: 0.5rem;
}

.inputPaquetes div{
    position: relative;
    width: 300px;
}

.inputPaquetes div span{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: rgb(255, 255, 255, 0.5);
    user-select: none;
}

.inputPaquetes > label {
    width: 100%;
    margin: auto;
    text-align: center;
}

.botonCalcularPaquetes{
    margin-top: 2rem;
    background-color: var(--menta);
    width: 300px;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
}