.contenedorMascotas{
    width: 1200px;
    padding: 3rem 0rem 0rem 0rem;
    margin: auto;
    margin-top: 7rem;
}

.contenedorMascotas h1{
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 2px;
}

.contenedorMascotas p{
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}