.contenedorCrearMascota{
    width: 100%;
}

.contenedorCrearMascota form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

.contenedorCrearMascota form .inputPaquetes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}