:root {
  --main-font: 'Satoshi', sans-serif;
  --negro: rgb(31, 31, 31, 1);
  --negro-hover: rgb(51, 51, 51, 1);
  --negro-light: rgb(81, 81, 81, 1);
  --negro-light-hover: rgb(101, 101, 101, 1);
  --menta: rgb(103, 204, 185);
  --menta-hover: rgb(120, 204, 185);
  --celeste: rgb(80, 187, 167);
  --blanco: rgb(255, 255, 255, 1);
  --invalid: rgb(253, 76, 60, 1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: var(--blanco);
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

body{
  background-color: var(--negro);
}

/*

body:not(.bg-white):not(.crear-usuario):not(.crear-edificio) {
  background: url("./assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
}
  

document.body.classList.add('crear-usuario');



Prevent text from wrapping to the next line
Hide the text that overflows the container
Show ellipsis (...) for the hidden text

white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis;


*/


::-webkit-scrollbar {
  width: 6px;
  background-color: var(--azul-oscuro);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blanco);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blanco);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
}

input.form-control{
  border-radius: 0;
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 1px solid rgb( 21, 21, 21, 0.2);
  outline: none;
  transition: all .3s ease;
}

input.form-control:focus {
  box-shadow: none;
  border-color: none;
  border: none;
  border-bottom: 1px solid var(--azul);
  outline: none;
}

input.form-control.is-invalid:focus {
  box-shadow: none;
  border-color: none;
}

textarea.form-control{
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: none;
  border-color: none;
  border: 1px solid rgb( 21, 21, 21, 0.2);
  outline: none;
  transition: all .3s ease;
}

textarea.form-control:focus {
  box-shadow: none;
  border-color: none;
  border: 1px solid var(--azul);
  outline: none;
}

textarea.form-control.is-invalid:focus {
  box-shadow: none;
  border-color: none;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.invalidInput{
  color: var(--invalid);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media (max-width: 576px) {

}

@media (min-width: 576px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1920px) {

}

@media (min-width: 1920px) {

}